/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Properties */

:root {
    --size-0-5rem: 8px;
    --size-0-75rem: 12px;
    --size-1-rem: 16px;
    --size-1-5rem: 24px;
    --size-2-rem: 32px;
    --size-2-5rem: 40px;
    --size-3-rem: 48px;
    --button-blue-bkg: #0061ff;
    --border-color-gray: #d0d0d3;
}

/* Generic */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}

h2 {
    margin: var(--size-3-rem) 0;
    font-size: var(--size-2-5rem);
}

h3 {
    font-size: var(--size-1-5rem);
    padding: var(--size-1-5rem) 0;
}


p {
    line-height: var(--size-1-5rem);
}

img {
    max-width: 100%;
    display: block;
}

/* Utilities */

.big-container {
    max-width: 1200px;  
}

.small-container, .big-container {
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
}

.flex {
    display: flex;
}

.column-33 {
    flex-basis: calc(100% / 3);
}

.column-66 {
    flex-basis: calc(100% / 3 * 2); 
}

.column-50 {
    flex-basis: 50%;
}

.column-60 {
    flex-basis: 60%;
}

.column-40 {
    flex-basis: 40%;
}

.blue-button {
    padding: var(--size-0-75rem) var(--size-1-rem);
    color: white;
    background-color: var(--button-blue-bkg);
    text-align: center;
}

.white-button {
    padding: var(--size-0-5rem) var(--size-0-75rem);
    border: 1px solid black;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.btn {
    display: inline-block;
}


/* header */

header {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}


header img {
    padding-left: 20px;
}

header a {
    padding: 0 30px;
}

.header-left {
    justify-content: flex-start;
}

.header-right, .header-left {
    align-items: center;
    width: 100%;
}

.header-right {
    justify-content: flex-end;
}

header .blue-button {
    margin-right: 30px;
}

/* Main */

.jumbotron span {
    display: block;
}

.jumbotron {
    background-color: #b4d0e7;
}

.jumbotron .big-container {
    position: relative;
    top: 70px;
    margin-bottom: 150px;
}

.fa-arrow-down {
    font-size: 50px;
}


.jumbotron .column-33 * {
    margin: 40px 0;
}

#jumbo {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

.purchase-offer > span:nth-child(2) {
    border: 3px solid blue;
}

.purchase-offer  > span:nth-child(2), .purchase-offer > span:nth-child(4){
    border-radius: 50%;
    width: var(--size-1-rem);
    height: var(--size-1-rem);
    display: inline-block;
}

.purchase-offer > span:nth-child(4) {
    border: 2px solid grey;
    margin-left: 30px;
}

.plan-business {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color-gray);
}

.purchase-offer .flex-column {
    padding: 0 var(--size-1-5rem);
}

.plan-business-price {
    font-weight: bold;
    padding-bottom: var(--size-1-rem);
}

.plan-business-price + span {
    color: grey;
}

.what-you-get {
    margin: var(--size-2-rem) 0;
}

.what-you-get * {
    padding-bottom: var(--size-1-rem);
}


.buy-now {
    padding: var(--size-2-rem) 0;
}

.buy-now span {
    border-bottom: 1px solid var(--border-color-gray);
    padding-bottom: var(--size-2-rem);
}

.buy-now > a {
    text-decoration: underline;
    color: blue;
}

.fa-check {
    color: blue;
    font-weight: bold;
    padding-right: 5px;
}

.main-points-plan {
    padding-bottom: var(--size-1-rem);
}

.what-you-get i {
    padding-right: 5px;
}

.flex-column .btn {
    width: 100%;
}

.purchase-offer .column-33 {
    border: 1px solid var(--border-color-gray);
    margin-top: var(--size-2-5rem);
}

.purchase-offers-choice {
    gap: 40px;
}

.flex-column h4 {
    padding: var(--size-2-5rem) 0;
}

.contact-office {
    margin-top: 40px;
    border: 1px solid var(--border-color-gray);
}

.contacts {
    position: relative;
    padding-left: var(--size-1-5rem);
}

.contacts > a {
    position: absolute;
    top: var(--size-1-5rem);
    right: 30px;
}

.contacts > p {
    padding-top: 50px;
    width: calc(100% / 3 * 2);
    padding-bottom: 30px;
}

.contacts > .blue-button {
    padding: var(--size-0-75rem) var(--size-2-5rem);
}

.partner {
    margin: 150px 0;
}

.partner .column-40 {
    padding: var(--size-2-rem) var(--size-2-5rem);
}

.partner p {
    margin-bottom: var(--size-2-5rem);
}


.row .dropbox-business-card {
    width: calc(100% / 3 - calc(50px / 3));
}

.dropbox-business {
    margin-top: 100px;
}

.dropbox-business .row {
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 25px;
}




.user-number {
    height: 200px;
    margin-top: 100px;
    margin-bottom: 80px;
    border: 1px dashed black;
}


.customers .column-33 {
    height: 800px;
    border: 1px dashed black;
}

.customers-logo-left, .customers-logo-right {
    flex-wrap: wrap;
}

.customers-logo {
    flex-basis: 50%;
    border: 1px solid black;
}

.bkg-free-trial {
    background-color: yellow;
}

.free-trial {
    height: 200px;
    padding: 50px;
}

.column-flex {
    flex-direction: column;
    height: 600px;
}

.column-flex * {
    border: 1px dashed black;
    height: calc(100% / 3);
}

.questions {
    margin-top: 150px;
    margin-bottom: 100px;
}

/* Footer */

footer {
    padding-top: 50px;
    background-color: black;
    padding-bottom: 30px;
}

.column-20 {
    width: calc(100% / 5);
    border: 1px dashed white;
    height: 500px;
}